@model Entities.ViewModels.Game.IndexGameViewModel
@{
    ViewData["Title"] = "- Games";
}
<section class="content-header">
    <h1>
        Games
        <small>All the registered games</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Games</li>
    </ol>
</section>
<section class="content">
    <div class="box box-danger">
        <div class="box-header with-border">
            <a class="btn btn-default btn-flat" asp-controller="Game" asp-action="CreateGameBet"><i class="fa fa-plus-circle"></i>&nbsp; Create new Game</a>
        </div>
        <div class="box-body">
            @if (TempData["ErrorMessage"] != null)
            {
                <ul class="text-danger">
                    <li>The operation couldn't be completed because @TempData["ErrorMessage"]</li>
                </ul>
            }
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="20%">
                        @Html.DisplayName("Start time")
                    </th>
                    <th width="20%">
                        @Html.DisplayName("End time")
                    </th>
                    <th width="20%">
                        @Html.DisplayName("Prize")
                    </th>
                    <th width="20%">
                        @Html.DisplayName("Status")
                    </th>
                    <th style="text-align: center">
                        @Html.DisplayName("Actions")
                    </th>
                </tr>
                </thead>
                <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model.GamesList)
                    {
                        var startTime = item.StartTime.ToLocalTime();
                        var endTime = item.EndTime.ToLocalTime();
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => startTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => endTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GameInfo.WinningPot)
                            </td>
                            <td>
                                @if (item.GameProcessed)
                                {
                                    <span class="label label-danger">Finished</span>
                                }
                                else
                                {
                                    <span class="label label-success">Running</span>
                                }
                            </td>

                            <td style="text-align: center">
                                <button class="btn btn-sm btn-default btn-flat custom-btn"
                                        data-toggle="modal" data-target="#exampleModalCenter"
                                        data-url="@Url.Action("Details", item)">
                                    <i class="fa fa-eye"></i>&nbsp; Details
                                </button>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" align="center" style="padding: 35px">
                            <em>No games to display</em>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @if (Model != null && Model.GamesList.Any())
            {
                <div page-model="@Model.PagingInfo" page-action="" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-default"
                     page-class-selected="btn-danger" class="btn-group pull-right m-1 pagination">
                </div>
            }
            <!-- Modal placeholder -->
            <div id="modal-placeholder"></div>
        </div>
    </div>
</section>
