@model Entities.Models.User
<link rel="stylesheet" href="~/plugins/bootstrap-4.0.0/js/dist/popover.js">

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Game Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <span>Id: </span><label> @Model.Id</label><br/>
                        <span>PlayerId: </span> <label> @Model.PlayerId</label><br/>
                        <span>UserInfoId: </span> <label> @Model.UserInfoId</label><br/>
                        <span>Firstname: </span> <label> @Model.UserInfo?.FirstName</label><br/>
                        <span>Lastname: </span> <label> @Model.UserInfo?.LastName</label><br/>
                        <span>Registered: </span> <label> @Model.UserInfo?.CreatedAt</label><br/>
                        <span>Birthdate: </span> <label> @Model.UserInfo?.Birthdate</label><br/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>