@model List<Entities.Models.User>
<div class="container">
    <h2>Clients</h2>
    <div>
        @* <a asp-controller="User" *@
        @*    asp-action="Create">Create new</a> *@
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>CreatedAt</th>
            <th>IsActive</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Count > 0)
        {
            foreach (var user in Model)
             {
                 <tr>
                     <td>@user.Id</td>
                 </tr>
@*                  <tr> *@
@*                      <td>@user.Id</td> *@
@*                       <td>@user.CreatedAt.ToString("dd-MMM-yyyy")</td> *@
@*                       <td> *@
@*                           <div class="form-check"> *@
@*                               <input class="form-check-input position-static" type="checkbox" disabled checked="@user.IsActive" aria-label="..."> *@
@*                           </div> *@
@*                       </td> *@
@*                       <td>@user.Address</td> *@
@*                       <td> *@
@*                           <a asp-controller="user" *@
@*                              asp-action="Edit" *@
@*                              asp-route-id="@user.userID"> *@
@*                               Edit *@
@*                           </a> *@
@*                           <a asp-controller="user" *@
@*                              asp-action="Details" *@
@*                              asp-route-id="@user.userID"> *@
@*                               Details *@
@*                           </a> *@
@*                           @if (user.IsActive) *@
@*                           { *@
@*                               <a asp-controller="user" *@
@*                                  asp-action="Deactivate" *@
@*                                  asp-route-id="@user.userID"> *@
@*                                   Deactivate *@
@*                               </a> *@
@*                           } *@
@*                           else *@
@*                           { *@
@*                               <a asp-controller="user" *@
@*                                  asp-action="Activate" *@
@*                                  asp-route-id="@user.userID"> *@
@*                                   Activate *@
@*                               </a> *@
@*                           } *@
@*                           <a asp-controller="user" *@
@*                              asp-action="Delete" *@
@*                              asp-route-id="@user.ClientID"> *@
@*                               Delete *@
@*                           </a> *@
@*                       </td> *@
@*                  </tr> *@
             }
        }
        else
        {
            <tr>
                <td colspan="5" align="center" style="padding: 35px">
                    <em>No users to display</em>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>