@using Entities.ViewModels
@model List<Entities.ViewModels.UserDetailsViewModel>
<div class="container">
    <h2>Clients</h2>
    <div>
        @* <a asp-controller="User" *@
        @*    asp-action="Create">Create new</a> *@
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>CreatedAt</th>
            <th>IsActive</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Count > 0)
        {
            foreach (UserDetailsViewModel client in Model)
             {
                 <tr>
                     <td>@client.ProfileID</td>
@*                      <td>@client.CreatedAt.ToString("dd-MMM-yyyy")</td> *@
@*                      <td> *@
@*                          <div class="form-check"> *@
@*                              <input class="form-check-input position-static" type="checkbox" disabled checked="@client.IsActive" aria-label="..."> *@
@*                          </div> *@
@*                      </td> *@
@*                      <td>@client.Address</td> *@
@*                      <td> *@
@*                          <a asp-controller="Client" *@
@*                             asp-action="Edit" *@
@*                             asp-route-id="@client.ClientID"> *@
@*                              Edit *@
@*                          </a> *@
@*                          <a asp-controller="Client" *@
@*                             asp-action="Details" *@
@*                             asp-route-id="@client.ClientID"> *@
@*                              Details *@
@*                          </a> *@
@*                          @if (client.IsActive) *@
@*                          { *@
@*                              <a asp-controller="Client" *@
@*                                 asp-action="Deactivate" *@
@*                                 asp-route-id="@client.ClientID"> *@
@*                                  Deactivate *@
@*                              </a> *@
@*                          } *@
@*                          else *@
@*                          { *@
@*                              <a asp-controller="Client" *@
@*                                 asp-action="Activate" *@
@*                                 asp-route-id="@client.ClientID"> *@
@*                                  Activate *@
@*                              </a> *@
@*                          } *@
@*                          <a asp-controller="Client" *@
@*                             asp-action="Delete" *@
@*                             asp-route-id="@client.ClientID"> *@
@*                              Delete *@
@*                          </a> *@
@*                      </td> *@
                 </tr>
             }
        }
        else
        {
            <tr>
                <td colspan="5" align="center" style="padding: 35px">
                    <em>No clients to display</em>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>