@model Entities.ViewModels.Transaction.IndexTransactionViewModel
@{
    ViewData["Title"] = "- Transactions";
}
<section class="content-header">
    <h1>
        Transactions
        <small>All your registered transactions</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Transactions</li>
    </ol>
</section>
<section class="content">
    <div class="box box-danger">
        <div class="box-header with-border">
            <a class="btn btn-default btn-flat" asp-controller="Transaction" asp-action="Create"><i class="fa fa-plus-circle"></i>&nbsp; Add to your balance</a>
        </div>
        <div class="box-body">
            @if (TempData["ErrorMessage"] != null)
            {
                <ul class="text-danger">
                    <li>The operation couldn't be completed because @TempData["ErrorMessage"]</li>
                </ul>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="20%">
                            @Html.DisplayName("PlayerId")
                        </th>
                        <th width="20%">
                            @Html.DisplayName("Sum")
                        </th>
                        <th width="20%">
                            @Html.DisplayName("Created at")
                        </th>
                        <th width="20%">
                            @Html.DisplayName("For game that started on")
                        </th>
                        <th style="text-align: center">
                            @Html.DisplayName("Actions")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.Transactions)
                        {
                            var updatedAt = item.UpdatedAt.ToLocalTime();
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlayerId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => updatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Game.GameInfo.CreatedAt)
                                </td>

                                <td style="text-align: center">
                                    <a class="btn btn-sm btn-default btn-flat custom-btn"
                                       asp-action="Edit"
                                       asp-route-id="@item.TransactionId">
                                        <i class="fas fa-edit"></i>&nbsp; Edit
                                    </a>
                                    <button class="btn btn-sm btn-default btn-flat custom-btn"
                                            data-toggle="modal" data-target="#exampleModalCenter"
                                            data-url="@Url.Action("Details", item)">
                                        <i class="fa fa-eye"></i>&nbsp; Details
                                    </button>

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" align="center" style="padding: 35px">
                                <em>No transactions to display</em>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model != null && Model.Transactions.Any())
            {
                <div page-model="@Model.PagingInfo" page-action="" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-default"
                     page-class-selected="btn-danger" class="btn-group pull-right m-1 pagination">
                </div>
            }
            <!-- Modal placeholder -->
            <div id="modal-placeholder"></div>
        </div>
    </div>
</section>