@using Presentation.Helpers.Extensions
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu nav nav-pills nav-stacked" data-widget="tree">
            <li class="header"> Main Menu</li>
            <li class="@(Html.IsMenuActive("") ? "active" : "")">
                <a href="~/">
                    <i class="fas fa-home"></i><span> Dashboard</span>
                    <span class="pull-right-container">
                        @*<small class="label pull-right bg-green">Hot</small>*@
                    </span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/Game") ? "active" : "")">
                <a href="~/Game">
                    <i class="fas fa-dice"></i><span> Games</span>
                    <span class="pull-right-container">
                        @*<small class="label pull-right bg-green">Hot</small>*@
                    </span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/History") ? "active" : "")">
                <a href="~/History">
                    <i class="fas fa-history"></i><span> History</span>
                    <span class="pull-right-container">
                        @*<small class="label pull-right bg-green">Hot</small>*@
                    </span>
                </a>
            </li>
            <li class="@(Html.IsMenuActive("/Transaction") ? "active" : "")">
                <a href="~/Transaction">
                    <i class="fas fa-money-check-alt"></i><span> Transactions</span>
                    <span class="pull-right-container">
                        @*<small class="label pull-right bg-green">Hot</small>*@
                    </span>
                </a>
            </li>
            <li class="header"> Administration Menu</li>

            @if (User.IsInRole("Admins"))
            {
                <li class="@(Html.IsMenuActive("/User") ? "active" : "")">
                    <a href="~/User">
                        <i class="fas fa-user-lock"></i> <span> Users</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li>
                <li class="@(Html.IsMenuActive("/Role") ? "active" : "")">
                    <a href="~/Role">
                        <i class="fas fa-sitemap"></i><span> Roles</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li>
                <li class="@(Html.IsMenuActive("/Report") ? "active" : "")">
                    <a href="~/Report">
                        <i class="fas fa-chart-line"></i><span> Report</span>
                        <span class="pull-right-container">
                            @*<small class="label pull-right bg-green">Hot</small>*@
                        </span>
                    </a>
                </li>
                <li class="@(Html.IsMenuActive("/GameSettings") ? "active" : "")">
                    <a href="~/GameSettings">
                        <i class="fas fa-ruler"></i><span> Game Settings</span>
                        <span class="pull-right-container">
                            @*<small class="label pull-right bg-green">Hot</small>*@
                        </span>
                    </a>
                </li>
            }
            <li class="treeview @((Html.IsMenuActive("/User/Profile") || Html.IsMenuActive("/User/Edit") || Html.IsMenuActive("/User/ChangePassword")) ? "active" : "")">
                <a href="#">
                    <i class="fas fa-cogs"></i>
                    <span>User Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/User/Profile") ? "active" : "")">
                        <a href="~/User/Profile"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="@(Html.IsMenuActive("/User/Edit") ? "active" : "")">
                        <a href="~/User/Edit"><i class="fa fa-lock"></i> Edit profile</a>
                    </li>
                    <li class="@(Html.IsMenuActive("/User/ChangePassword") ? "active" : "")">
                        <a asp-controller="User" asp-action="ChangePassword" asp-route-id="@User.Identity.Name"><i class="fa fa-user-secret"></i>Change Password</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
